<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.silacak2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="31" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_presisi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Silacak2">
        <activity
            android:name=".AddIzinActivity"
            android:exported="false" />
        <activity
            android:name=".IzinActivity"
            android:exported="false" />
        <activity
            android:name=".RekapAbsensi"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".AbsensiActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".infoDetailLaporan"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".adminListLaporan"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".detail_of_blast"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".scan_qrcode"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".info_bio_nrp"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".info_biodata_anggota"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".settingAdminProfile"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".uploadImageProfile"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".settingProfileAnggota"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".adminPageNew"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminLokasiAll"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anggotaPesanGroub"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminPesanGroub"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".userPesanTampil"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userPesan"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anggotaPesanTampil"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anggotaPesan"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminPesanTampil"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminPesan"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profilUser"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anggotaLokasi"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notConfirmPage"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfrimUser"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminUserNew"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminListAnggota"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfrimAnggota"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".read_user"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminListUser"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profileAnggota"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profileAdmin"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminAbout"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail_feature"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registerPage"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userPage"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anggotaPage"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminListPerintah"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail_of_perintah"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <service -->
        <!-- android:name=".LocationService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" /> -->
        <service
            android:name=".LocationServer"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".NotificationBerkumpul"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".NotificationPesan"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".NotificationLaporan"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".AppReceiver" />
        <service
            android:name=".ReminderYesterday"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>